.swiper{
	width: 375px;
	height: 188px;
	margin-top: 74px;
	display: flex;
}
.swiper>a{
	background-image: url(../img/swiper.jpg);
	flex: 1;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}
.iconList{
	width: 375px;
	height: 160px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.iconList .iconItem{
	width: 20%;
	height: 80px;
}
.iconList .iconItem img{
	width: 100%;
	height: auto;
}
.banner{
	width: 375px;
	height:265px ;
	margin-top: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.banner .bannerl{
	width: 186px;
	height: 265px;
	background-image: url(../img/img1.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}
.banner .bannerr{
	width: 186px;
	height: 265px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.banner .bannerr .BRTop{
	width: 100%;
	height: 131px;
	background-image: url(../img/img2.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}
.banner .bannerr .BRBon{
	width: 100%;
	height: 131px;
	background-image: url(../img/img3.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}
.jx{
	display: flex;
	width: 375px;
	flex-direction: column;
	margin-top:8px ;
}
.jx .jxad{
	width: 375px;
	height: 230px;
	background-image: url(../img/jxtop.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}
.jx .pdList{
	width: 375px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.jx .pdList .pdItem{
	width: 50%;
	padding: 3px;
	height: 253px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.jx .pdList .pdItem img{
	width:100%;
	height: auto;
}
.pdItem .jxTitle{
	padding-top: 5px;
	font-size: 15px;
	color: rgba(0,0,0,.87);
}
.pdItem .jxBrief{
	font-size: 12px;
	color: rgba(0,0,0,.54);
}
.pdItem .jxPrice{
	font-size: 15px;
	color: #ea625b;;
}
.pdItem .jxBuy{
	width: 105px;
	height: 31px;
	border-radius: 4px;
	background-color: #ea625b;
	font-size: 13px;
	text-align: center;
	line-height: 31px;
	color: #FFFFFF;
}
.foot{
	width: 375px;
	height: 60px;
}
.footer{
	width: 375px;
	height: 52px;
	display: flex;
	flex-direction: row;
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: #FFFFFF;
	box-shadow: 0 -2px 8px #CCCCCC;
}
.footer .fIcon{
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer .fIcon .footImg{
	width: 21px;
	height: 21px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.footer .fIcon:nth-child(1) .footImg {
	background-image: url(../img/hone1.png);
}
.footer .fIcon:nth-child(2) .footImg {
	background-image: url(../img/list1.png);
}
.footer .fIcon:nth-child(3) .footImg {
	background-image: url(../img/buycar1.png);
}
.footer .fIcon:nth-child(4) .footImg {
	background-image: url(../img/center1.png);
}
.footer .fIcon span{
	font-size: 12px;
	color: #999;
}
.footer .fIcon:nth-child(1):hover .footImg {
	background-image: url(../img/hone2.png);
}
.footer .fIcon:nth-child(2):hover .footImg {
	background-image: url(../img/list2.png);
}
.footer .fIcon:nth-child(3):hover .footImg {
	background-image: url(../img/buycar2.png);
}
.footer .fIcon:nth-child(4):hover .footImg {
	background-image: url(../img/center2.png);
}
.footer .fIcon:nth-child(1):hover span{
	color: #ff6700;
}
.footer .fIcon:nth-child(2):hover span{
	color: #ff6700;
}
.footer .fIcon:nth-child(3):hover span{
	color: #ff6700;
}
.footer .fIcon:nth-child(4):hover span{
	color: #ff6700;
}